@model IEnumerable<AgendamentoOnline.Models.Appointment>
@using AgendamentoOnline.Models;
@using AgendamentoOnline.Utils.Enums;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
        </tr>
    </tbody>
</table>
<script>
    //$("#cardBG").toggleClass("card");
    //$("#bodyCard").toggleClass("card-body");

</script>