@model IEnumerable<AgendamentoOnline.Models.User>
@using AgendamentoOnline.Models;
@using AgendamentoOnline.Utils.Enums;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Login
            </th>
            <th>
                Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Login
            </td>
            <td>
                @item.Type
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    //$("#cardBG").toggleClass("card");
    //$("#bodyCard").toggleClass("card-body");

</script>