<footer class="main-footer text-sm">
    <ul class="list-inline mb-0">
        <li class="list-inline-item"><a style="cursor: pointer;" data-toggle="modal" data-target="#termo-uso-politica-privacidade">Termo de Uso</a></li>
        <li class="list-inline-item"><strong>.</strong></li>
        <li class="list-inline-item"><a style="cursor: pointer;" data-toggle="modal" data-target="#termo-uso-politica-privacidade">Política de Privacidade</a></li>
    </ul>
    <strong>Copyright &copy; @DateTime.Now.Year  <a class="text-gray" href="https://www.linkedin.com/in/rafael-magnavita-araujo-6a2178245/">RMA Soluções</a>.</strong> Todos os direitos reservados.
    <div class="float-right d-none d-sm-inline-block mr-5 pr-5">
        <b>Versão</b> @(typeof(MvcApplication).Assembly.GetName().Version)
    </div>
</footer>

